@using BlazorApp.Layout
@using BlazorApp.Pages
@inject NavigationManager Nav

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        @if (string.IsNullOrEmpty(Nav.ToBaseRelativePath(Nav.Uri)))
        {
            <LayoutView Layout="@typeof(MainLayout)">
                <Index />
            </LayoutView>
        }
        else
        {
            <p role="alert">Sorry, there's nothing at this address.</p>
        }
    </NotFound>
</Router>
